body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: black; */
  /* transition: color 1000ms; */

}

.body{
  transition: background 1000ms;
}
h1 {
  font-size: 15rem;
  font-family: Montserrat;
}

.letter {
  transition: color 1000ms;
}